body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #333;
  color: white;
}

.edit-btn {
  padding: 6px 12px;
  background-color: #DC5F00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Partea de formular*/

form#addForm {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form#addForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 200px;
}

form#addForm button {
  padding: 10px 20px;
  background-color: #DC5F00;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form#addForm button:hover {
  background-color: #c24f00;
}